doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/style.css')
  title Vierkante Wielen
.nav-menu
  a.nav-home(href='/')
    h1.nav-heading Vierkante Wielen
  a.nav-link(href='#over-ons')
    span.nav-text Over ons
  a.nav-link(href='#pakketten')
    span.nav-text Pakketten
  a.nav-link.nav-login(href='login') Login
a(name='over-ons')
.alternating-content
  .content-section-over-ons
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
a(name='pakketten')
.content
  .content-section-pakketten
    h1 Pakketten
    .pakket.pakket-1
      h2 Pakket 1
      h1 500,-
      p &#x2714; 10 Rijlessen.
      p &#x2714; Praktijkexamen CBR
      p Theorie Cursus
      p Theorie Examen
      p Tussentijdse toets
      a.button-pakket(href='pakket?=pakket-1') Boek NU!
    .pakket.pakket-2
      h2 Pakket 2
      h1 800,-
      p &#x2714; 10 Rijlessen.
      p &#x2714; Praktijkexamen CBR
      p &#x2714; Theorie Cursus
      p &#x2714; Theorie Examen
      p Tussentijdse toets
      a.button-pakket(href='pakket?=pakket-2') Boek NU!
    .pakket.pakket-3
      h2 Pakket 3
      h1 1000,-
      p &#x2714; 10 Rijlessen.
      p &#x2714; Praktijkexamen CBR
      p &#x2714; Theorie Cursus
      p &#x2714; Theorie Examen
      p &#x2714; Tussentijdse toets
      a.button-pakket(href='pakket?=pakket-3') Boek NU!
.alternating-content.footer
  .footer-content
    .footer-contact
      h2 Contact details
      p Almere, Nederland
      a(href='tel:+31612345678') &#9743; 06 1234 5678
      a(href='mailto:info@vierkantewielen.nl') &#x2709; info@vierkantewielen.nl
    .footer-legal
      p &copy; Copyright 2023
      a(href='documenten/voorwaarden.pdf') Algemene Voorwaarden
      a(href='documenten/privacybeleid.pdf') Privacybeleids