doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Pakket kopen
  link(rel='stylesheet' href='./styles/style.css')
.nav-menu
  a.nav-home(href='/')
    h1.nav-heading Vierkante Wielen
.content
  .content-section-pakket-kopen
    h1#pakket-text Weet je zeket dat je pakket [temp] wilt kopen?
    form(action='/pakket_kopen', method="POST")
      input(type='checkbox' name='bevestigen12' required='')
      label(for='bevestigen12') Bevestigen
      input.login-button(type='submit' value='Het pakket kopen')
.alternating-content.footer
  .footer-content
    .footer-contact
      h2 Contact details
      p Almere, Nederland
      a(href='tel:+31612345678') &#xF4DE; 06 1234 5678
      a(href='mailto:info@vierkantewielen.nl') &#x2709; info@vierkantewielen.nl
    .footer-legal
      p &copy; Copyright 2023
      a(href='documenten/voorwaarden.pdf') Algemene Voorwaarden
      a(href='documenten/privacybeleid.pdf') Privacybeleid


script.
  var url = window.location.href;
  var queryStart = url.indexOf("?=");
  var pakket = url.slice(queryStart + 2);
  var pakketten = ["pakket-1", "pakket-2", "pakket-3"];

  if (!pakketten.includes(pakket)) {
    window.location.href = "/";
  } else {
    window.addEventListener("DOMContentLoaded", function () {
      var element = document.getElementById("pakket-text");
      element.innerText = "Weet je zeker dat je " + pakket + " wilt kopen?";
    });
  }

