doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registeer
  link(rel='stylesheet' href='./styles/style.css')
.nav-menu
  a.nav-home(href='/')
    h1.nav-heading Vierkante Wielen
.content
  .content-section-registeer
    h1 Registeer
    form(action='/register' method="post")
      input(type='text' name='voornaam' placeholder='Voornaam' required='')
      input(type='text' name='tussenvoegesel' placeholder='Tussenvoegsel')
      input(type='text' name='achternaam' placeholder='Achternaam' required='')
      div
        input(type='radio' name='gender' value='Man' required='')
        label(for='gender1') Man
        br
        input(type='radio' name='gender' value='Vrouw')
        label(for='gender2') Vrouw
        br
      input(type='email' name='email' placeholder='Email' required='')
      input(type='password' name='wachtwoord' placeholder='Wachtoord' required='')
      input.login-button(type='submit' value='Registeer')
    a(href='login') Heb je al een account?
.alternating-content.footer
  .footer-content
    .footer-contact
      h2 Contact details
      p Almere, Nederland
      a(href='tel:+31612345678') &#9743; 06 1234 5678
      a(href='mailto:info@vierkantewielen.nl') &#x2709; info@vierkantewielen.nl
    .footer-legal
      p &copy; Copyright 2023
      a(href='documenten/voorwaarden.pdf') Algemene Voorwaarden
      a(href='documenten/privacybeleid.pdf') Privacybeleid