doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Reset wachtwoord
  link(rel='stylesheet' href='./styles/style.css')
.nav-menu
  a.nav-home(href='/')
    h1.nav-heading Vierkante Wielen
.content
  .content-section-login
    h1 Log in op mijn account
    form(action='')
      input(type='email' placeholder='Email' required='')
      input(type='password' placeholder='Nieuw Wachtoord' required='')
      input(type='password' placeholder='Herhaal Wachtoord' required='')
      input.login-button(type='submit' value='Reset Wachtwoord')
    a(href='registreer') Heb je nog geen account?
    a(href='login') Weet je nog je wachtwoord?
.alternating-content.footer
  .footer-content
    .footer-contact
      h2 Contact details
      p Almere, Nederland
      a(href='tel:+31612345678') &#xF4DE; 06 1234 5678
      a(href='mailto:info@vierkantewielen.nl') &#x2709; info@vierkantewielen.nl
    .footer-legal
      p &copy; Copyright 2023
      a(href='documenten/voorwaarden.pdf') Algemene Voorwaarden
      a(href='documenten/privacybeleid.pdf') Privacybeleid
